.why-section {
  position: relative;
  padding: 40px 70px;
  background-size: cover;
  background-position: center;
  color: #fff;
}

.why-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    rgba(12, 12, 18, 0.92) 0%,
    rgba(12, 12, 18, 0.88) 50%,
    rgba(12, 12, 18, 0.92) 100%
  );
  z-index: 1;
}

.why-container {
  position: relative;
  z-index: 2;
  max-width: 1300px;
  margin: auto;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 60px;
  align-items: center;
}

/* LEFT CONTENT */
.why-tag {
  color: #14b8a6;
  font-size: 44px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.why-left h2 {
  font-size: 30px;
  line-height: 1.2;
  margin: 18px 0;
}

.why-left strong {
  color: #14b8a6;
}

.why-left p {
  max-width: 520px;
  color: #cfcfcf;
  font-size: 16px;
  line-height: 1.7;
}

/* GRID */
.why-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

/* CARD */
.why-card {
  position: relative;
  padding: 25px 30px;
  border: 1px solid rgba(255, 255, 255, 0.034);
  background: rgba(255, 255, 255, 0.04);
  overflow: hidden;
  cursor: pointer;
  transition: color 0.4s ease;
}

/* FILL EFFECT */
.why-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #14b8a6;
  transform: scaleY(0);
  transform-origin: left;
  transition: transform 0.45s ease;
  z-index: 0;
}

/* ACTIVE STATE (AUTO ANIMATION) */
.why-card.active::before {
  transform: scaleY(1);
}

.why-card.active {
  color: #111;
}

.why-card.active .why-icon {
  color: #111;
}

/* HOVER EFFECT (STILL WORKS) */
.why-card:hover::before {
  transform: scaleX(1);
}

.why-card:hover {
  color: #111;
}

.why-card:hover .why-icon {
  color: #111;
}

.why-card * {
  position: relative;
  z-index: 1;
}

.why-icon {
  font-size: 34px;
  margin-bottom: 14px;
  transition: color 0.4s ease;
}

.why-card h4 {
  font-size: 18px;
  font-weight: 600;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .why-container {
    grid-template-columns: 1fr;
  }

  .why-left h2 {
    font-size: 34px;
  }
}

@media (max-width: 768px) {
  .why-section {
    padding: 40px 20px;
  }

  .why-tag {
    font-size: 32px;
  }

  .why-left h2 {
    font-size: 28px;
  }

  .why-grid {
    grid-template-columns: 1fr;
  }
}